NOTION_TOKEN=your_notion_integration_token
NOTION_POSTS_DB_ID=your_posts_database_id
NOTION_EXPERIENCE_DB_ID=your_experience_database_id
NOTION_PROJECTS_DB_ID=your_projects_database_id

VITE_DASHBOARD_PASSWORD=your_password_here
VITE_ANTHROPIC_API_KEY=
VITE_GEMINI_API_KEY=
SASTO_EMAIL=
SASTO_PASSWORD=
RESEND_API_KEY=
TO_EMAIL=anil99senchury@gmail.com
